header {
    width: 100vw;
    height: auto;
    background-color:rgb(170, 152, 235)
}
nav {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: center;
    padding: 10px 0px 10px 20px;
}
nav a {
    margin: 0px 20px;
    height: 100%;
    padding: 10px;
    background-color:rgb(87, 60, 175);
    color: rgb(255, 255, 255);
}