.container {
    background-color:rgb(74, 58, 85);
    min-height: 40vh;
    min-width:660px;
    margin: 10px;
    height: auto;
    width: calc(50% - 26px);
    display:grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-style:solid;
}
@media (max-width: 1718px) {
    .container {
        width:100%;
    }
}
.cell {
    height: auto;
    border-style: solid;
    margin-top: -2px;
    margin-right: -2px;
    border-width: 2px 2px 0px 2px;
}
.description {
    grid-row: span 2;
}
.targets {
    grid-column: span 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-evenly;
    contain: size;
}
.tarImg {
    width: 50px;
    height: 50px;
}
.depImg {
    height: 100%;
}
.charHolder {
    height: 100%;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: span 3;
}
.character {
    height: 100%;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    align-content: space-evenly;
}
.character img {
    outline: solid 2px;
    width:75px;
    height:75px;
}
.left {
    border-left-width: 0px;
}